<h1>Create a profile!</h1>

<%= form_for @profile do |f| %>
 
<%= f.label :profile_picture %>:
  <%= f.url_field :profile_picture %><br />

  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

<%= f.label :about %>:
  <%= f.text_area :about %><br />

  <%= f.submit "Create your Profile" %>
<% end %>